<h1>Angular Mentions</h1>

<p>Simple Angular mentions inspired by <a href="http://jeff-collins.github.io/ment.io/#/">Ment.io</a>.</p>
<p style="color:grey">Supports auto-complete for mentions in text input fields, text areas,
  and content editable fields. Try entering some @names below.</p>

<h3>Minimal</h3>
<input [mention]="items" class="form-control" type="text">

<h3>Textarea</h3>
<textarea [mention]="items" class="form-control" cols="60" rows="4"></textarea>

<h3>Content Editable</h3>
<div [mention]="items" class="form-control" contenteditable="true"
     style="border:1px lightgrey solid;min-height:88px"></div>

<h3>Content Editable with Multiple Triggers (@, #)</h3>
<div [mention]="[{charTrigger: '@', items: items}, {charTrigger: '#', items: tagsItems, startsWithCharTrigger: true}]"
     class="form-control" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>

<h3>Content Editable with customized appearance list </h3>
<div [mention]="items"
     [mentionListConfig]="{headerTemplate: customHeader, listClasses: 'scrollable-menu pretty-scrollbar custom-list'}"
     class="form-control" contenteditable="true"
     style="border:1px lightgrey solid;min-height:88px"></div>

<h3>Active on Hover</h3>
<div [mention]="items" [mentionListConfig]="{activeOnHover: true}" class="form-control" contenteditable="true"
     style="border:1px lightgrey solid;min-height:88px"></div>

<h3>Content Editable with Multiple Triggers and Item Templates (@, #)</h3>
<div [mention]="[{charTrigger: '@', items: items, itemTemplate: userTemplate},
      {charTrigger: '#', items: tagsItems, startsWithCharTrigger: true}]"
     class="form-control" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>

<h3>Trigger # char with required space before it in order to allow multiple words tagging like #awesome summer#</h3>
<div [mention]="[{charTrigger: '#', items: tagsItems, startsWithCharTrigger: true, spaceSeparated: true}]"
     class="form-control" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>

<h3>Fixed Positioning</h3>
<div style="overflow: scroll; height: 200px; width: 100%;border:1px lightgrey solid; min-height:88px">
  <div [mention]="[{charTrigger: '#', items: tagsItems, startsWithCharTrigger: true, spaceSeparated: true}]"
       [mentionListConfig]="{position: 'fixed'}"
       class="form-control" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>
  <div [mention]="[{charTrigger: '#', items: tagsItems, startsWithCharTrigger: true, spaceSeparated: true}]"
       [mentionListConfig]="{position: 'fixed'}"
       class="form-control" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>
  <div [mention]="[{charTrigger: '#', items: tagsItems, startsWithCharTrigger: true, spaceSeparated: true}]"
       [mentionListConfig]="{position: 'fixed'}"
       class="form-control" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>
  <div [mention]="[{charTrigger: '#', items: tagsItems, startsWithCharTrigger: true, spaceSeparated: true}]"
       [mentionListConfig]="{position: 'fixed'}"
       class="form-control" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>
</div>

<h3>Content Editable with customized appearance list an Fixed Positioning</h3>
<div [mention]="[{charTrigger: '#', items: tagsItems, startsWithCharTrigger: true, spaceSeparated: true}]"
     [mentionListConfig]="{headerTemplate: customHeader, listClasses: 'scrollable-menu pretty-scrollbar custom-list', position: 'fixed'}"
     class="form-control" contenteditable="true"
     style="border:1px lightgrey solid;min-height:88px"></div>

<h3>Content Editable with Multiple Triggers and Item Templates (@, #)</h3>
<div [mention]="[{charTrigger: '@', items: items, itemTemplate: userTemplate},
      {charTrigger: '#', items: tagsItems, startsWithCharTrigger: true, footerTemplate: customFooter, hideOnNoMatches: false}]"
     [mentionListConfig]="{headerTemplate: customHeader, listClasses: 'scrollable-menu pretty-scrollbar custom-list', position: 'fixed'}"
     class="form-control" contenteditable="true"
     style="border:1px lightgrey solid;min-height:88px"></div>

<ng-template #customHeader>
  <div class="header" style="user-select: none;">
    <span><strong>↑</strong> <strong>↓</strong> to navigate</span>
    <span><strong>↵</strong> to select</span>
    <span><strong>esc</strong> to dismiss</span>
  </div>
</ng-template>

<ng-template #customFooter let-searchString="searchString">
  <div class="footer">
    + Add <span class="badge-default">{{searchString}}</span>
  </div>
</ng-template>

<ng-template #userTemplate let-item="item">
  <strong>@{{item.label}}</strong>
</ng-template>

<ng-template #tagsTemplate let-item="item">
  <strong><i>{{item.label}}</i></strong>
</ng-template>

<!--<h3>Embedded Editor</h3>-->
<!--<app-demo-tinymce></app-demo-tinymce>-->

<!-- other demos that can be enabled -->
<!-- <app-demo-async></app-demo-async> -->
<!-- <app-demo-options></app-demo-options>  -->
<!-- <app-demo-template></app-demo-template> -->

<br><p style="color:grey">angular-mentions on <a href="https://github.com/dmacfarlane/angular-mentions">Github</a></p>
<a href="https://github.com/dmacfarlane/angular-mentions"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                               src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
                                                               alt="Fork me on GitHub"
                                                               data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
